body {
    color: black
}

a {
    color: #5E99D3 !important;
}

.avatar {
    width: 100px;
    vertical-align: middle;
    margin: auto;
    display: inline-block;
}

.hosts h1,
.speakers h3,
.partners h3,
.sponsors h3 {
    margin-bottom: 10px;
}

.speakers p {
    padding: 0 !important;
    text-align: center;
}

.partners p,
.sponsors p {
    padding: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sponsors img {
    width: 200px;
    max-height: 100px;
}

.partners p {
    margin: 0 !important;
    padding: 0 !important;
}

.partners img {
    max-width: 60px;
    max-height: 100px;
}

.hosts img {
    width: 200px;
}

.slide-blank {
    padding-top: 0;
}

.slide-blank > h1 {
    color: #fff;
    font-size: 60px !important;
}

.agenda {
    font-family: 'Lato', sans-serif;
    padding-left: 80px;
    padding-right: 0;
}

.agenda ul {
    list-style: square;
}

.agenda ul li {
    line-height: 50px;
}

.tag {
    color: #fff;
    background-color: #A64AC9;
    padding: 3px 5px;
    border-radius: 3px;
}

.tag2 {
    color: #fff;
    background-color: #5E99D3;
    padding: 3px 5px;
    border-radius: 3px;
}

.tag3 {
    color: #000;
    background-color: #17E9E0;
    padding: 3px 5px;
    border-radius: 3px;
}

.ignore {
    color: #acafb3;
}

.item-in-agenda h2 {
    margin-bottom: 0;
}

.item-in-agenda .avatar {
    width: 200px;
    margin: 0 50px 90px 0;
    float: left;
}

.primary-color {
    color: #17E9E0;
}

.secondary-color {
    color: #A64AC9;
}

.mix-color {
    color: #5E99D3;
}
